@charset "UTF-8";
/* 전체 페이지 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

/* 테이블 스타일 */
table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #333;
    color: #fff;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    font-weight: bold;
}

/* 링크 스타일 */
a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
#btnSend{
	background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}